@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300&family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  --orange: #ff7000;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.3rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid rgba(0, 0, 0, 0.902);
  
}



* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 66%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #1e1c1c;
  border-radius: 5rem;
}


body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 17, 121, 0.9249824929971989) 80%, rgba(0, 212, 255, 1) 100%);
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 2rem;
  font-size: 3rem;
  color: #fff;
   
  
}

.heading span {
  background: #000;
  color: var(--orange);
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}


.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8%;
  background: linear-gradient(to left, #fff, silver);
  box-shadow: var(--box-shadow);
}


.header .logo {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo span {
  color: var(--orange);
  font-size: 2.5rem;
}


.header .logo i {

  color: var(--orange);
  padding: 0 1.4rem;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
  padding-bottom: 0.5rem;
}
.header .navbar #close{
  display: none;
}

header.change {
  background: linear-gradient(to right, #000, rgb(40, 165, 193));
  padding: 1.5rem 6%;
}

header.change .logo {
  color: #fff;
}

header.change .navbar a {
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
header.change .navbar a:hover {
  color: rgb(145, 213, 255);
   border-bottom:2px solid  rgb(168, 246, 228);
   
}

header.change .icons div {
  height: 4rem;
  width: 4rem;
  font-size: 1.5rem;
  background: none;
  color: #fff;


}

header.change .icons div:hover {
  background: #fff;
}


.header .navbar a:hover {
  color: var(--orange);
  

}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  background: #eee;
  line-height: 4.5rem;
  border-radius: 2rem;
  font-size: 2rem;
  margin: 0 1rem;
  color: var(--black);
  font-weight: bold;
  text-align: center;
  cursor: pointer;

}

.header .icons div:hover {
  color: var(--orange);
  background: var(--black);
}

#bars-btn {
  display: none;
}

.header .logIn-form {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba(251, 251, 251, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.3s ease-in-out;

}

.header .logIn-form.active {
  transform: scaleX(1);

}

.header .logIn-form #close-login-form {
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  color: var(--black);
  font-size: 4rem;
  cursor: pointer;
}

.header .logIn-form #close-login-form:hover {
  color: dimgray;
}

.header .logIn-form #close-login-form.active {
  transform: scaleX(0);

}


.header .logIn-form .search-form {
  width: 50rem;
  height: 4.4rem;
  background: var(--black);
  border-radius: 4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);


}



.header .logIn-form .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  padding: 0 1rem;

}
.header .logIn-form .search-form input::placeholder{
  color: #eee;
}

.header .logIn-form .search-form label {
  padding: 0 2rem;
  font-size: 2.2rem;
  color: #fff;
  cursor: pointer;

}

.header .logIn-form .search-form label:hover {
  color: var(--orange);
}

.header .cart-item {
  position: absolute;
  top: 110%;
  right: -110%;
  background: #fff;
  width: 36rem;
  border-radius: 1.5rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  transition: 0.3s ease;

}

.header .cart-item.active {
  right: 2rem;

}

.header .cart-item .box {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  position: relative;
  margin: 2rem 0;
}


.header .cart-item .box .fa-trash {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  color: var(--black);
  cursor: pointer;
  transform: translateY(50%);
}

.header .cart-item .box .fa-trash:hover {
  color: var(--orange);
}


.header .cart-item .box img {
  height: 7rem;
  border-radius: 2rem;
}

.header .cart-item .box .content h3 {
  font-size: 1.6rem;
  color: var(--black);
  padding-bottom: 1rem;

}

.header .cart-item .box .content span {
  color: var(--black);
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'fraunces', sans-serif;

}

.header .cart-item .box .content .quantity {
  color: var(--light-color);
  padding-left: 1rem;
}

.header .cart-item .total {
  font-size: 2.2rem;
  color: var(--black);
  padding: 1rem 0;
  font-weight: 800;
  text-align: center;

}

.btn {
  margin-top: 1rem;
  color: #fff;
  display: inline-block;
  background: var(--black);
  font-size: 1.6rem;
  padding: 0.8rem 3rem;
  border-radius: 1.4rem;
  cursor: pointer;
  font-weight: 800;


}

.btn:hover {
  color: var(--orange);
  letter-spacing: 0.3rem;
}

.header .cart-item .btn {

  display: block;
  text-align: center;
  margin: 1rem;




}

.header .login-form {
  position: absolute;
  top: 110%;
  right: -110%;
  background: #ffffff;
  width: 30rem;
  text-align: center;

  border-radius: 1.5rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);

}

.header .login-form.active {
  right: 2rem;
  transition: 0.4s ease;
}

.header .login-form h3 {
  font-size: 2rem;
  padding: 1.2rem;
  font-weight: 700;
  font-family: 'fraunces', sans-serif;

}

.header .login-form div {
  border-radius: 1.5rem;
  padding: 1rem 1rem;
  margin: 2rem 2rem;
  background: #fff;

  box-shadow: var(--box-shadow);

}

.header .login-form input {
  background: none;
  outline: none;
  font-size: 1.3rem;
  color: var(--black);

}

.header .login-form input::placeholder {
  color: #000;
}

.header .login-form label {
  margin-right: 2rem;
  font-size: 1.4rem;
  color: var(--black);

}

.header .login-form .btn {
  background: var(--black);
  color: rgb(40, 165, 193);
  font-weight: 700;
  margin-top: 2rem;

}

.header .login-form .btn:hover {
  color: rgb(80, 247, 225);
}

.header .login-form p {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1rem;
  color: var(--black);

}

.header .login-form p a {
  font-size: 1.4rem;
  color: var(--black);
  font-weight: 900;

}

.header .login-form p a:hover {
  color: var(--orange);
  text-decoration: underline;
}

/* home section */


.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(images/veg.jpg) no-repeat center;

  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;

}

.home .content {
  text-align: center;
  width: 60rem;
}

.home .content h3 {
  font-size: 3.2rem;
  color: #ffffff;
  padding-bottom: 2.5rem;
  margin-top: -10%;

}

.home .content h3 span {
  color: var(--orange);
  font-weight: bolder;
}

.home .content p {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.8;

}

.home .content .btn {
  margin-top: 1.5rem;
}

.features .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5;
}

.features .box-container .box {
  text-align: center;
  background: #fff;
  
  padding: 3rem 2rem;
  outline: var(--outline);
  outline-offset: -1rem;
  margin: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  transition: 0.3s ease;
  border: 4px solid transparent ;   
  /* background:  */
  /* linear-gradient(#fff 0 0) padding-box, /*this is your grey background*/
  /* linear-gradient(45deg, #070247, #5dc0ed) border-box;  */

   


}

.features .box-container .box:hover {
  outline: var(--outline-hover); 
  outline-offset: 0rem;
  
}

.features .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  padding-top: 1rem;
}

.features .box-container .box p {
  padding: 1.5rem;
  color: var(--light-color);
  font-weight: 700;
  font-size: 1.3rem;
}

.features .box-container .box img {
  height: 13rem;
  margin: 1rem 0;

}

.products .product-slider {
  padding: 1rem;
}

.products .product-slider:first-child {
  margin-bottom: 2rem;
}

.products .product-slider .box {
  background: linear-gradient(to bottom, #fff, #eee);
  text-align: center;
  box-shadow: var(--box-shadow);
  padding: 3rem 2rem;
  outline: var(--outline);
  border-radius: 0.5rem;
  outline-offset: -1rem;
  transition: 0.2s linear;
}

.products .product-slider .box:hover {
  outline-offset: 0rem;
  outline: var(--outline-hover);
}

.products .product-slider .box img {
  height: 15rem;
}

.products .product-slider .box h3 {
  font-size: 2rem;
  padding: 1.5rem 1rem;
}

.products .product-slider .box .price {
  font-size: 1.8rem;
  color: var(--orange);
  font-weight: bolder;
  font-family: 'fraunces', sans-serif;
  padding-bottom: 1.4rem;
}

.products .product-slider .box .stars i {
  font-size: 1.5rem;
  color: goldenrod;
  padding-bottom: 1.5rem;
}

.products .product-slider .box .btn {
  border-radius: 0.2rem;
}



.categories .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5;
}

.categories .box-container .box {
  margin: 1rem 1rem;
  padding: 3rem 2rem;
  text-align: center;
  outline: var(--outline);
  outline-offset: -1rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: var(--box-shadow);
}

.categories .box-container .box:hover {
  outline: var(--outline-hover);
  outline-offset: 0rem;
}

.categories .box-container .box h3 {
  font-size: 2.5rem;
  padding-top: 1.5rem;
  color: var(--black);

}



.categories .box-container .box img {
  height: 14rem;
  border-radius: 0.5rem;
}

.categories .box-container .box img:hover {
  transform: scale(1.2);
  transition: 0.3s linear;
}

.categories .box-container .box p {
  font-size: 1.8rem;
  color: var(--light-color);
  font-weight: bold;
  padding-top: 1.3rem;
}

.categories .box-container .box p span {
  color: var(--orange);

}

.categories .box-container .box .btn {
  margin-top: 1.4rem;
}

.review .review-slider {
  padding: 1rem;
}

.review .review-slider:first-child {
  margin-bottom: 2rem;
}

.review .review-slider .box {
  background: #fff;
  text-align: center;
  box-shadow: var(--box-shadow);
  padding: 3rem 2rem;
  outline: var(--outline);
  border-radius: 0.5rem;
  outline-offset: -1rem;
  transition: 0.2s linear;
}

.review .review-slider .box:hover {
  outline-offset: 0rem;
  outline: var(--outline-hover);
}


.review .review-slider .box img {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .review-slider .box p {
  font-size: 1.2rem;
  color: var(--black);
  padding-top: 1.5rem;


}

.review .review-slider .box h3 {
  font-size: 1.8rem;
  color: var(--orange);

}

.review .review-slider .box .stars {
  font-size: 1.4rem;
  color: goldenrod;
  padding-top: 1.3rem;
}


.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5;
}

.blogs .box-container .box {
  overflow: hidden;
  margin: 1.5rem 1.5rem;
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 0.6rem;

  transition: 0.2s linear;

}

.blogs .box-container .box img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: var(--border);

}

.blogs .box-container .box .content .icons a {
  color: var(--light-color);
  font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a i {
  color: var(--orange);
  padding-right: 1rem;
}

.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--black);
  padding-right: 0.5rem;
  padding-bottom: 1.5rem;
}

.blogs .box-container .box .content p {
  font-size: 1.5rem;
  color: var(--light-color);

  padding-bottom: 1.5rem;
}

  

.footer {
  background: linear-gradient(45deg, #fff, rgb(40, 165, 193));
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  padding: 1rem 0;
  color: var(--black);

}

.footer .box-container .box h3 i {
  color: var(--orange);

}

.footer .box-container .box p {
  padding-right: 2rem;
  font-size: 1.2rem;
  color: var(--light-color);
}

.footer .box-container .box .share {
  margin-top: 1.5rem;
}

.footer .box-container .box .share a {
  font-size: 2.4rem;
  padding: 1.5rem 1rem;
  color: var(--black);
  transition: 0.2s linear;
}

.footer .box-container .box .share a:hover {
  color: #9d9b9b;
}

.footer .box-container .box .links {
  display: block;
  margin: 1.5rem 0;
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 700;



}

.footer .box-container .box .links:hover {
  color: var(--orange);


}

.footer .box-container .box .links i {
  color: var(--light-color);
  margin-right: 1.5rem;

}

footer {
  border-top: var(--border);
  color: var(--black);
  font-size: 1.4rem;
  text-align: center;
  font-weight: 900;


}

footer span {
  color: var(--orange);
}













/* media queries */
@media (max-width:945px) {
  html {
    font-size: 54%;
  }

  section {
    padding: 2rem;
  }


  #bars-btn {

    display: inline-block;


  }
  .header .navigation{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgba(251, 251, 251, 0.9);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;    
    transition: 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
  }
  .header .navigation.active{
    transform: scaleX(1);
  }

  .header .navigation .navbar {
    /* position: absolute;
    top: 110%;
    right: -110%; */
    background: var(--black);
    width: 30rem;
    height: 100%;   
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    transition: 0.2s ease;
    padding: 5rem;

  }
  .header .navigation .navbar #close{
    display: block;
    top: 4rem;
    right: 3rem;
    position: absolute;
    color: #fff;
    font-size: 3rem;
  }
  .header .navigation .navbar #close.active{
    transform: scaleX(0);
  }
   

  
  .header .navigation .navbar a {
    display: block;
    margin: 3rem 0;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    padding: 1rem;
  }

  .header .navbar a:hover {
    color: var(--orange);
    transition: 0.4s ease;
  }

}

@media (max-width:460px) {
  html {
    font-size: 38%;
  }

  .header {
    padding: 2rem;
  }

  .header .logIn-form .search-form {
    width: 35rem;
  }

  .footer .box-container .box {
    border-bottom: var(--border);
  }
}